<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="../styles/css.css" rel="stylesheet"/>
<script src="../scripts/logear.js" defer></script>
<title>Login</title>
</head>
<body>

<form id="login-form">
	<div id="caja">
	<div align="center"><h1>Proyecto 1 Web 2 -LOGIN</h1>
	<h2>Por Mario González C.I:27.969.414</h2><br></div>
	<div id="div">
	<ul class="left">
		<li>Usuario:</li>
		<li>Contraseña:</li>
	</ul>

	<ul class="right">
		<li><input type="text" name="username"></li>
		<li><input type="text" name="password"></li>
	</ul>
	</div>
	<div align="center"><button class="button" id="login-button">Inciar Sesion</button></div>
	
	</div>
	

</form>

</body>
</html>