<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link href="../styles/css.css" rel="stylesheet"/>
<script src="../scripts/registrar.js" defer></script>
<title>Proyecto 1 Web 2</title>
</head>
<body>
	

	<div id="caja">
	<div align="center"><h1>Proyecto 1 Web 2</h1>
	<h2>Por Mario González C.I:27.969.414</h2><br></div>
	<div id="div">
	
	<ul class="left">
		<li>1.Nombre de Usuario</li>
		<li>2.Nombre:</li>
		<li>3.Apellido:</li>
		<li>4.Contraseña:</li>
		<li>5.Correo:</li>
		<li>6.Edad:</li>
	</ul>
	<main class="register-container">
	<form class="form" id="register-form" action="">
		<input class="form-input" type="text" name="username" id="username" placeholder="Usuario">
		<input class="form-input" type="text" name="nombre" id="nombre" placeholder="Nombre">
		<input class="form-input" type="text" name="apellido" id="apellido" placeholder="Apellido">
		<input class="form-input" type="password" name="password" id="password" placeholder="Contraseña">
		<input class="form-input" type="email" name="correo" id="correo" placeholder="correo@dominio.com">
		<input class="form-input" type="number" name="edad" id="edad" min="18" placeholder="Edad">
	</form>
	</main>
	</div >
	<div align="center"><button class="button" id="register-button">REGISTRAR</button></div>	
	</div>
	<div align="center"><a href="login.html">Iniciar Sesion</a></div>
	<div align="center"><a href="../../index.html">Volver</a></div>

</body>
</html>